.taR {
  display: flex;
  justify-content: flex-end;
}

.taL {
  display: flex;
  justify-content: flex-start;
}

.mt50{
  margin-top: 50px;
}

.mb30{
  margin-bottom: 30px;
}

body {
  background-color: #f0e68c;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000080;
  color: white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1,h2 {
  color: white;
  font-family: sans-serif;
}

.limeIcon{
  color: #32cd32;
  size: 30px;
  margin-right: 12px;
  position: relative;
  top: 3px;
}

img {
  border-radius: 50%;
  height: 45px;
  margin-top: -20px;
  border: 2px solid black;
}

p {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

body .topMsg{
  display: block;
  width: 50%;
  margin: 15% auto;
  text-align: center;
}

.msg {
  display: flex;
  padding: 20px 40px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
  max-width: 50%;
}

.send {
  background-color: #85e14b;
  color: black;
  border-top-right-radius: 500px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 20px;
}

.received {
  background-color: #fafafa;
  border-top-left-radius: 500px;
}

.sendMsg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.msgs {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 775px) {
  p {
    font-size: 20px;
  }
  .send {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
  img {
    height: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  header h1,h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  header h1,h2 {
    font-size: 15px;
  }
  .limeIcon{
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
  p {
    font-size: 15px;
  }
  .send {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
  img {
    height: 30px;
    margin-top: -7px;
  }
}
